DATABASE_URL_DEV=postgres://username:password@localhost:5432/your_dev_db_name
DATABASE_URL_TEST=postgres://username:password@localhost:5432/your_test_db_name
DATABASE_URL=postgres://productionUsername:password@onlineHost:5432/your_production_db_name